# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# Coverage
coverage/

# Example app specific ignores
example/.dart_tool/
example/.flutter-plugins
example/.flutter-plugins-dependencies
example/.packages
example/build/
example/ios/Flutter/.last_build_id
example/ios/Runner.xcworkspace/
example/ios/Runner.xcodeproj/project.xcworkspace/
example/ios/Runner.xcodeproj/xcuserdata/
example/ios/Flutter/flutter_export_environment.sh
example/android/.gradle/
example/android/app/build/
example/android/build/
example/android/gradle/
example/android/gradlew
example/android/gradlew.bat
example/android/local.properties
example/android/app/src/main/java/io/flutter/plugins/
example/web/
example/windows/
example/linux/
example/macos/

# Exceptions to above rules.
!**/ios/**/default.mode1v3
!**/ios/**/default.mode2v3
!**/ios/**/default.pbxuser
!**/ios/**/default.perspectivev3
!/packages/flutter_tools/test/data/dart_dependencies_test/**/.packages
